In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import random
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
train=pd.read_csv('C:\Users\mgaddis\Documents\GitHub\Data\NCAA\RegularSeasonDetailedResults - Train.csv')
test=pd.read_csv('C:\Users\mgaddis\Documents\GitHub\Data\NCAA\RegularSeasonDetailedResults - Test.csv')
train['Type']='Train' #Create a flag for Train and Test Data set
test['Type']='Test'
fullData = pd.concat([train,test],axis=0) #Combined both Train and Test Data set

In [5]:
fullData.columns # This will show all the column names
print(fullData.head(10)) # Show first 10 records of dataframe
fullData.describe() #You can look at summary of numerical fields by using describe() function

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  Wfgm  Wfga  \
0    2003      10   1104      68   1328      62    N      0    27    58
1    2003      10   1272      70   1393      63    N      0    26    62
2    2003      11   1266      73   1437      61    N      0    24    58
3    2003      11   1296      56   1457      50    N      0    18    38
4    2003      11   1400      77   1208      71    N      0    30    61
5    2003      11   1458      81   1186      55    H      0    26    57
6    2003      12   1161      80   1236      62    H      0    23    55
7    2003      12   1186      75   1457      61    N      0    28    62
8    2003      12   1194      71   1156      66    N      0    28    58
9    2003      12   1458      84   1296      56    H      0    32    67

   ...    Lftm  Lfta  Lor  Ldr  Last  Lto  Lstl  Lblk  Lpf   Type
0  ...      16    22   10   22     8   18     9     2   20  Train
1  ...       9    20   20   25     7   12     8     6   16  Train
2  ...      14    23   31   22     9   12     2     5   23  Train
3  ...       8    15   17   20     9   19     4     3   23  Train
4  ...      17    27   21   15    12   10     7     1   14  Train
5  ...      12    17    6   22     8   19     4     3   25  Train
6  ...      20    28    9   21    11   30    10     4   28  Train
7  ...      17    23    8   25    10   15    14     8   18  Train
8  ...      12    27   13   26    13   25     8     2   18  Train
9  ...       7    12    9   23    10   18     1     3   18  Train

[10 rows x 35 columns]

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot,Wfgm,Wfga,Wfgm3,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
count,65872.00000,65872.000000,65872.000000,65872.000000,65872.000000,65872.000000,65872.000000,65872.000000,65872.000000,65872.000000,...,65872.000000,65872.000000,65872.000000,65872.000000,65872.000000,65872.000000,65872.000000,65872.000000,65872.000000,65872.000000
mean,2009.19670,71.485942,1286.705884,74.429150,1282.259716,62.461380,0.071806,25.733453,54.493396,6.795315,...,18.837336,12.113796,18.030605,11.227805,21.072474,11.379736,14.562910,6.119186,2.864616,19.818314
std,3.70925,35.181219,104.946668,11.026665,104.117659,10.819419,0.312054,4.668628,7.595760,2.959497,...,5.749657,5.349949,7.146710,4.249908,4.747957,3.724221,4.484467,2.799324,2.050325,4.519672
min,2003.00000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000,10.000000,27.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,-23.000000,0.000000,0.000000,0.000000,0.000000,5.000000
25%,2006.00000,40.000000,1196.000000,67.000000,1191.000000,55.000000,0.000000,22.000000,49.000000,5.000000,...,15.000000,8.000000,13.000000,8.000000,18.000000,9.000000,11.000000,4.000000,1.000000,17.000000
50%,2009.00000,75.000000,1285.000000,74.000000,1281.000000,62.000000,0.000000,25.000000,54.000000,7.000000,...,18.000000,12.000000,17.000000,11.000000,21.000000,11.000000,14.000000,6.000000,3.000000,20.000000
75%,2012.00000,102.000000,1379.000000,81.000000,1374.000000,69.000000,0.000000,29.000000,59.000000,9.000000,...,22.000000,15.000000,23.000000,14.000000,24.000000,14.000000,17.000000,8.000000,4.000000,23.000000
max,2015.00000,132.000000,1464.000000,142.000000,1464.000000,140.000000,6.000000,49.000000,103.000000,24.000000,...,54.000000,42.000000,61.000000,36.000000,49.000000,31.000000,41.000000,22.000000,18.000000,45.000000

In [11]:
ID_col = ['Wteam']
target_col = ["Wscore"]
cat_cols = ['Season','Daynum']
num_cols = list(set(list(fullData.columns))-set(cat_cols)-set(ID_col)-set(target_col))
other_col = ['Type'] #Test and Train Data set identifier

In [12]:
#create label encoders for categorical features
for var in cat_cols:
 number = LabelEncoder()
 fullData[var] = number.fit_transform(fullData[var].astype('str'))

train=fullData[fullData['Type']=='Train']
test=fullData[fullData['Type']=='Test']

train['is_train'] = np.random.uniform(0, 1, len(train)) <= .75
Train, Validate = train[train['is_train']==True], train[train['is_train']==False]

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
features=list(set(list(fullData.columns))-set(ID_col)-set(target_col)-set(other_col))

In [14]:
x_train = Train[list(features)].values
y_train = Train["Wscore"].values
x_validate = Validate[list(features)].values
y_validate = Validate["Wscore"].values
x_test=test[list(features)].values

In [15]:
random.seed(100)
rf = RandomForestClassifier(n_estimators=1000)
rf.fit(x_train, y_train)

ValueError: could not convert string to float: N